<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ADVENTURES OF AN ERASMUS STUDENT</title>
        
    </head>
    <body>

        <div id="HeaderNavBarLog">
        	
         <div id="Header">
			<h1>THE ADVENTURES OF AN ERASMUS STUDENT</h1>
		</div>
		
		<div id="Navigation">
		    <ul>
		        <li><a href="/bienvenido/index.html">WHO AM I?</a></li>
		        <li><a href="/articles/index.html">STORIES</a></li>
		        <li><a href="/articles/new.html">NEW ARTICLE</a></li>
		        <li><a href="">NETWORKS</a></li>
		    </ul>
		</div>
		</div>

	</body>
	<content>