#productos{
	
	margin-top: 100.415px;
	background-color: white;
	width: 1024px;
	line-height: 100%;
	margin-bottom: 21px;
	
}

#productos img{
	float:left;
	line-height: 100%;

}

.producto{
	background-color: #EEEEEE;
    color: #436976;
   	border: 2px solid #FFAF00;
	padding-bottom:10px;
}

.COMENTARIO{
	background-color: #EEEEEE;
    color: #436976;
   	border: 2px solid #FFAF00;
	padding-bottom:10px;
}

#botoncarro{
	margin-top: 9px;
	margin-right: -1px;
	float: right;
	color: white;
	text-decoration: none;
	text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
	font-family: "Century Gothic";
    box-sizing: border-box;
    border: 2px solid #FFAF00;
    border-radius: 4px;
}

#botoncarro:hover{
	
	color: #313131;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff,0 0 8px #FFAF00, 0 0 10px #FFAF00;
}


body {
	font-family: "Century Gothic";
	margin:0 auto;	
	width: 1024px;
	background-color: #D1D1D1;
			
}

#todo{
	
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	width: 1024px;
}

#HeaderNavBarLog{
	
	
	position: fixed;
	float: left;
	width: 1024px;
	top: 0;
}

#Header{
	
	
	font-weight:bold;
	background-color: #989898;
	color: #FFAF00;
	width:100% -4px;
	font-family: "Century Gothic";
	padding: 1%;
	border: 2px solid black;
	text-shadow:-1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111, 0 0 8px #111111, 0 0 10px #111111;
}

#link{

	color: #FFAF00;
	font-family: "Century Gothic";
	text-shadow:-1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111, 0 0 8px #111111, 0 0 10px #111111;
}
h1{
	margin-top: 0px;
	text-align:center;
	color: #FFAF00;
	font-family: "Century Gothic";
	text-shadow:-1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111, 0 0 8px #111111, 0 0 10px #111111;
}

#desconectado,#conectado{
	
	top:0;
	right: 0;
	position:absolute;
	height: 81.875px;
	padding: 10.234px;
	width: 31.1%;
	background-color: #313131;
	border: 2px solid #111111;
	color:#989898;
	text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
	
}

/*#carrito{
	background-color: white;
	width:10em;
	margin-top: 0px;
	margin-right: 328.687px;
	height: 92.109px;
	border-left: 2px solid #111111;
	text-align: center;
}*/

#UserName{
	
	color: #FFAF00;
	margin:auto;
	text-align: center;
	text-transform: capitalize;
	
}
#newpassbot {
	
	text-align: center;
	text-decoration: underline;
	margin: auto;
	color:#D1D1D1;
	
}

#anadir{
	
	border: 2px solid #FFAF00;
	text-align: center;
	text-decoration: underline;
	margin: auto;
	color:#FFAF00;
	background-color:#EEEEEE;
	text-shadow:-1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111, 0 0 8px #111111, 0 0 10px #111111;
	
}
#mmmmbotonsito{
	
	text-align: center;
	text-decoration: underline;
	margin: auto;
	color:#FFAF00;
	text-shadow:-1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111, 0 0 8px #111111, 0 0 10px #111111;
}

#USER{


	background-color: white;
	background-position: 3px 3px; 
	background-repeat: no-repeat;
	background-image: url('../img/iconomsn.png');
	background-size: 18px 18px;
	padding-left: 25px;
	margin-bottom: 4px;
	width: 145px;
	margin-left: 7px;
}

#PASSWORINO	{
		
	background-color: white;
	background-position: 3px 3px; 
	background-repeat: no-repeat;
	background-image: url('../img/Candado.png');
	background-size: 18px 18px;
	padding-left: 25px;
	margin-bottom: 4px;
	width: 145px;
	margin-left: 7px;
}

button{
	
	float: left;
	margin-left:30%;
	padding:1%;
	color: white;
	text-decoration: none;
	text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
	font-family: "Century Gothic";
	width:40%;
    padding: 1%;
    box-sizing: border-box;
    border: 2px solid #FFAF00;
    border-radius: 4px;
}
#regbot{
	
	float: left;
	margin-left:37% ;
	padding:1%;
	color: white;
	text-decoration: none;
	text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
}
button:hover{
	
	color: #313131;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff,0 0 8px #FFAF00, 0 0 10px #FFAF00;
}

#regbot:hover{
	
	color:#313131;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff,0 0 8px #FFAF00, 0 0 10px #FFAF00;
	
}

.login input[type=text]{
	font-family: "Century Gothic";
	margin-left: 5px;
	width:50%;
    padding: 1%;
    margin-top: 6px;
    margin-left: 6px;
    box-sizing: border-box;
    border: 2px solid #FFAF00;
    border-radius: 4px;
}

.registro input[type="number"]{
	font-family: "Century Gothic";
	margin-left: 5px;
	width:20em;
	padding: 0.5%;
    margin-top: 6px;
    margin-left: 6px;
    box-sizing: border-box;
    border: 2px solid #FFAF00;
    border-radius: 4px;
}

.registro select{
	font-family: "Century Gothic";
	margin-left: 5px;
	width:20em;
	padding: 0.5%;
    margin-top: 6px;
    margin-left: 6px;
    box-sizing: border-box;
    border: 2px solid #FFAF00;
    border-radius: 4px;
}

input[type="submit"]{
	font-family: "Century Gothic";
	margin-left: 5px;
    margin-top: 6px;
    margin-left: 6px;
    box-sizing: border-box;
    border: 2px solid #FFAF00;
    border-radius: 4px;
    margin-bottom: 30px;
}

.registro input[type=text]{
	font-family: "Century Gothic";
	margin-left: 5px;
	width:20em;
	padding: 0.5%;
    margin-top: 6px;
    margin-left: 6px;
    box-sizing: border-box;
    border: 2px solid #FFAF00;
    border-radius: 4px;
}

.registro input[type="password"]{
	font-family: "Century Gothic";
	margin-left: 5px;
	width:20em;
	padding: 0.5%;
    margin-top: 6px;
    margin-left: 6px;
    box-sizing: border-box;
    border: 2px solid #FFAF00;
    border-radius: 4px;
}

.registro label{
	
	text-align: center;

}
.login input[type="password"]{
	font-family: "Century Gothic";
	margin-left: 5px;
	width:50%;
    padding: 1%;
    margin-top: 6px;
    margin-left: 6px;
    box-sizing: border-box;
    border: 2px solid #FFAF00;
    border-radius: 4px;
}

#registro{
	font-family: "Century Gothic";
	width:1024px;
    box-sizing: border-box;
    border: 2px solid #FFAF00;
    border-radius: 4px;
}
	
	
}

#Navigation{
	
	border-bottom: 2px solid #111111;
    border-right: 2px solid #111111;
    border-left: 2px solid #111111;
    
	
}

ul{
	
	text-transform: uppercase;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #FFAF00;
    text-shadow:-1px -1px 0 #989898, 1px -1px 0 #989898, -1px 1px 0 #989898, 1px 1px 0 #989898;
}

li {
	
    float: left;
    width: 25%;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 20px;
    text-align:center;
    
}

li>a {
	
    display: block;
    color: #313131;
    text-align: center;
    padding: 10px 13px;
    text-decoration: none;
    /*border-right: 1px solid #111111;
    border-left: 1px solid #111111;*/
}

li>a:hover {
    background-color: #989898;
    color: #FFAF00;
    text-shadow:-1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
    /*border-right: 2px solid #111111;
    border-left: 2px solid #111111;*/
}

li>ul{
	
	display: none;
}
li:hover>ul{
	
	display:block;
	width:204px;
	position:fixed;
	text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: -2px;
	background-color: #D9D9D9;
    border-right: 2px solid #111111;
    border-left: 2px solid #111111;
    border-bottom: 2px solid #111111;
}
.drop li {
	
    float: left;
    width: 100%;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 20px;
    text-align:center;
}

.active {
    background-color: #313131;
    color: #989898;
    text-shadow:-1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
}

#content{
	
	color: black;
	font-family: "Century Gothic";
	background-color:#989898;
	text-align: center;
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 21px;
	
}
#formulario{
	
	color: black;
	font-family: "Century Gothic";
	background-color:#989898;
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 21px;
	
}

table {     font-family: "Century Gothic";
    	font-size: 12px;
        width: 480px; 
        margin-left: 2px;
        text-align: left;    
        border-collapse: collapse; 
    }

th {     font-size: 13px;     
	font-weight: normal;     
	padding: 3px;     
	background: #F5B800;   
    border-bottom: 1px solid #fff;
     color: #039; }

td {    
	padding: 11px;     
	background: #000000;     
	border-bottom: 1px solid #fff;
    color: white;
}

tr:hover td { 
	background: #F5B800; 
	color: #000000; 
}

#inicio{
	
	font-weight:bold;
	background-color: #989898;
	color: #FFAF00;
	width:100% -4px;
	font-family: "Century Gothic";
	text-shadow:-1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111, 0 0 8px #111111, 0 0 10px #111111;
	
	font-family: "Century Gothic";
	font-size:large;
	background-image: url('../img/ciclismo.jpg');
	text-align: center;
	width: 1024px;
	height:480px;
	margin: 0 auto;
}

p{
	
	margin-right: 30px;
	margin-left: 30px;
	
	
}

textarea{
	font-family: "Century Gothic";
	margin-left: 5px;
	width:50%;
    padding: 1%;
    margin-top: 6px;
    margin-left: 6px;
    box-sizing: border-box;
    border: 2px solid #FFAF00;
    border-radius: 4px;
}

#mapa{
	
	margin-left:770px; 
	border: 2px solid #FFAF00;
	border-radius: 4px;
}

#TextoCtt{
	float: left;
	text-align:left;
	margin-left:20px;
	font-weight:bold;
	color: #FFAF00;
	width:100% -4px;
	font-family: "Century Gothic";
	text-shadow:-1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111, 0 0 8px #111111, 0 0 10px #111111;
}

#Escribe{
	background-color: #989898;
	font-weight:bold;
	color: #FFAF00;
	width:100% -4px;
	font-family: "Century Gothic";
	text-shadow:-1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111, 0 0 8px #111111, 0 0 10px #111111;
}

#contAlq{
	text-align:justify;
	padding-top:3%;
}
#ImgAlq{
	margin-left: 250px;
}
#ImgAlq2	{
	margin-left: 330px;
}

.errores{
	
	color: red;
		
}

#Footer{	
	background-color: black;
	clear: both;
	color: white;
	text-align: center; 
	position: fixed;
	width: 1024px;
	font-family: "Century Gothic";
	bottom: 0;	
	
}
#botoninsert{
	
margin-top: 151.415px;

}	

input:required:invalid {
 
border: 2px solid #FFAF00;
}
 
input:required:valid {
 
border: 2px solid green;
 
}

#textogrande {
	
	width: 50em;
	height: 5em;
}
